name: CI-auto_test
on:
 push:
   branches: [ develop ]
jobs:
 build:
   runs-on: ubuntu-latest
   steps:
     - uses: actions/checkout@v2
     - name: Run a one-line script
       run: echo Test Test the changes.
     - name: Run a multi-line script
       run: |
         echo Add other actions to build,
         echo test, and deploy your project.
     - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node-version }}
     - run: npm ci

